html {
    height: 100%;
}

body {
    background: linear-gradient(to top left, gray 50%, darkgray 50%);
    background-size: 20px 20px;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
}

.section {
    overflow-y: scroll;
}

#scantron {
    background: blue;
}
#scantron input[type='checkbox'] {
    display: none;
}
#scantron input[type='checkbox'] + label {
    opacity: 0.5;
}
#scantron input[type='checkbox']:checked + label {
    opacity: 1;
    filter: drop-shadow(0 0 5px pink); /* unnecessary */
}

#palette input[type='color'] {
    position: relative;
    padding: 0;
    border: none;
}
#palette input:after { /* nonsense */
    content: attr(data-value);
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
}

canvas {
    cursor: crosshair;
}
