html {
    background: gray;
    height: 100%;
}

body {
    color: white;
    font-family: 'Trebuchet MS', 'Helvetica', 'Arial', sans-serif;
    text-transform: uppercase;
    height: 100%;
    margin: 0;
    display: flex;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

h1 {
    margin: 12px 6px;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

canvas {
    cursor: crosshair;
}

.flexbox {
    display: flex;
}
.flexbox > * {
    text-align: center;
    flex: 1;
}

input + label {
    cursor: pointer;
}

input.option {
    display: none;
}
input.option + label {
    padding: 6px;
    opacity: 0.5;
    display: inline-block;
}
input.option:hover + label {
    opacity: 0.75;
}
input.option:checked + label {
    font-weight: bold;
    opacity: 1;
}

input.option.text + label:before {
    content: '';
    background: url(icon/CheckmarkBad.png);
    background-size: 18px;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    display: inline-block;
}
input.option.text:checked + label:before {
    background: url(icon/CheckmarkGood.png);
    background-size: 18px;
}

.hidden {
    display: none;
}

.section {
    overflow-y: scroll;
}

#left {
    background: linear-gradient(to top left, gray 50%, darkgray 50%);
    background-size: 20px 20px;
    text-align: center;
    flex: 1;
}
#left.solid {
    background: none;
}

#basic {
    position: relative;
    background: linear-gradient(#1b2a41, #0f1824);
    width: max-content;
    padding: 6px;
    border: 3px double #ccb55a;
    margin: 18px auto;
}

#basic img {
    vertical-align: middle;
}

#version {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 12px;
    margin: 6px;
    display: block;
}

#kofi img {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    margin: 6px;
    display: block;
}

#download {
    background: #ccb55a;
    color: black;
    font-weight: bold;
    width: max-content;
    padding: 6px;
    border: 3px double #1b2a41;
    margin: 24px auto;
    cursor: pointer;
}
#download:hover {
    background: #dec974;
}

#right {
    background: linear-gradient(#1b2a41, #0f1824);
    border-left: 3px double #ccb55a;
    padding: 3px;
}

#palette input[type='checkbox'],
input[type='file'],
input[type='button'] {
    display: none;
}
#palette input[type='checkbox'] + label {
    background: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
}
#palette input[type='checkbox']:checked + label {
    background: radial-gradient(white, transparent 75%);
}

#palette input[type='color'] {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
}

#palette input[type='text'] {
    background: none;
    color: white;
    font-family: 'Lucida Console', 'Courier New', 'Courier', monospace;
    font-size: 18px;
    text-transform: uppercase;
    width: 8em;
    border-width: 0 0 1px 0;
    border-color: white;
}

.swatch {
    padding: 3px;
}
.swatch > * {
    vertical-align: middle;
    margin: 3px;
}

.hashwrapper {
    font-family: 'Courier', monospace;
    font-size: 18px;
    display: inline;
}
.hashwrapper:before {
    content: '#';
}
